name: Ruby

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: hoardable
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    strategy:
      matrix:
        ruby:
          - "3.2"
          - "3.3"
        rails:
          - "7.0.8.4"
          - "7.1.4"
          - "7.2.1"
          - "8.0.0.beta1"
        include:
          - rails: "7.0.8.4"
            ruby: "3.0"
          - rails: "7.0.8.4"
            ruby: "3.1"
          - rails: "7.1.4"
            ruby: "3.0"
          - rails: "7.1.4"
            ruby: "3.1"
          - rails: "7.2.1"
            ruby: "3.1"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the default task
        env:
          RAILS_ENV: test
          RAILS_VERSION: ${{ matrix.rails }}
          POSTGRES_USER: postgres
          PGPASSWORD: password
          POSTGRES_PASSWORD: password
        run: |
          bundle exec rake
